


@model GroupInfo



<tr>
    <td>@Model.GroupInfoId</td>
    <td><b>@Model.GroupName</b></td>
    <td>@Model.GroupSize</td>
    <td>@Model.Email</td>
    <td>@Model.Phone</td>


    <td>
        <form id="@Model.GroupInfoId" asp-page="/Buy" method="post">
            <input type="hidden" asp-for="GroupInfoId" />
            <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
            <span class="card-text p-1">
                @*@Model.Category*@
                <button type="submit" class="btn-success btn-sm pull-right" style="float:right">
                    Buy
                </button>
            </span>
        </form>
    </td>
</tr>